:root {
  /* Paleta de cores */
  --cor-fundo-padrao: #FAF7F2;
  --cor-rosa-antigo: #F8ECEB;
  --cor-marrom: #5C504D;
  --cor-sepia: #B8A79C;
  --cor-bege: #E2D4C6;
  --cor-verde: #6B7B5F;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--cor-fundo-padrao);
  color: var(--cor-marrom);
}
